<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/Error.css">
    <title>Document</title>
</head>

<body>
    <div class="par">
    <h2 class="P404">
        404
    </h2>
    <h2 class="PC404">
        WE ARE SORRY BUT THE PAGE YOU REQUESTED WAS NOT FOUND : )
    </h2>
    <img class="GIF" src="/Gif/DKke.gif">
    <br><br><br>
    <div class="con"><a class="btn" href="/log">Click here to get home</a></div>
    </div>
</body>

</html>