* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    margin: 0px;
}

body {
    background-color: black;
}

.P404 {
    font-weight: 400;
    color: aliceblue;
    font-size: 100px;
    text-align: center;
}

.PC404 {
    font-weight: 400;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}
.GIF{
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.con{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.par{
   margin-top: 10vh;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: brown;
}